body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* -----------HEADER---------- */

#header {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  width: 100%;  
}
#header-main-box {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  animation: smoothScroll 0.4s forwards;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

#header-img {
  width: 165px;
  display: block;
  margin: 0;
  cursor: pointer;
}

#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: 20px 20px 20px 10px;
  color: white;
  text-decoration: none;
  font-weight: 200;
  transition: 0.5s;
  font-size: 13px;
}

.nav-link:hover {
  color: red;
}

/* ------BANNER----- */

#banner {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 100vh;
}

#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
#video_pattern {
  background: #fff;
  position: fixed;
  opacity: 0.8;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#banner-main-box {
  position: absolute;
  margin-top: 15vh;

  align-items: center;
  width: 100%;
  display: block;
}
#banner-first-title {
  text-align: center;
  margin: -20px auto;
}

#banner-first-title h1 {
  color: whitesmoke;
  font-size: 95px;
  font-weight: 400;
}

#banner-second-title {
  text-align: center;
  margin: -70px auto;
}
#banner-second-title h1 {
  color: whitesmoke;
  font-size: 95px;
  font-weight: 400;
  margin-right: 350px;
}
#banner-third-title {
  text-align: center;
  margin: -75px auto;
}

#banner-third-title h1 {
  color: whitesmoke;
  font-size: 95px;
  font-weight: 400;
}

/* -----CONTENT-2------ */

#content-2 {
  background-color: rgb(19, 19, 19);
  height: 100vh;
  position: relative;
  width: 100%;
}

#content-content {
  position: absolute;
  text-align: center;
  /* border-bottom: 1px solid red; */
  margin-top: 40vh;
  width: 100%;
}

#content-2 h1 {
  color: whitesmoke;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 45px;
}

/* ----SERVICES----- */

#service {
  background: black;
  height: 100vh;
  color: whitesmoke;
  position: relative;
  width: 100%;
}

#service h1 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

#service-main-box {
  display: grid;
  position: absolute;
  margin-top: 10vh;
  width: 100%;
  align-items: center;
}
#service-box-container {
  display: flex;
  margin: 30px auto;
}

#service-box {
  margin: 10px 30px;
  padding: 10px 20px 10px 30px;
  width: 300px;
  border-left: 1px solid red;
  height: 235px;
}

#service-box h5 {
  font-size: 20px;
  text-align: left;
  font-weight: 400;
}
#service-box p {
  text-align: justify;
  line-height: 20px;
}

#service-box button {
  background: red;
  color: whitesmoke;
  border: none;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px 10px;
  transition: 0.3s;
  cursor: pointer;
}

#service-box button:hover {
  background: whitesmoke;
  color: red;
}

/* ----CONTACT-BUTTON------ */

#call-action {
  background-image: url(./media/polygon-background.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 1px;
  height: 100vh;
  position: relative;
  width: 100%;
}

#call-box {
  position: absolute;
  display: inline-flex;
  align-items: center;
  padding: 20px;
  margin-top: 35vh;
  margin-left: 15%;
}
#call-box-title {
  background-color: transparent;
}

#call-box-title h1 {
  color: whitesmoke;
  font-size: 55px;
  margin: 39px 50px;
  font-weight: 500;
}
#call-box-button {
  background-color: transparent;
}

#call-box-button button {
  background-color: red;
  border: none;
  padding: 15px 30px;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  margin: 41px 50px;
  transition: 0.4s;
  cursor: pointer;
}

#call-box button:hover {
  background-color: whitesmoke;
  color: red;
}

/* -----ABOUT---------- */

#about {
  width: 100%;
  background-color: black;
  height: 100vh;
  position: relative;
}

#about-main-box {
  display: flex;
  position: absolute;
  margin-top: 25vh;
}

#about-span {
  padding: 45px 10px 10px 20px;
  color: red;
  line-break: unset;
  font-size: 15px;
  padding-left: 150px;
}

#about-title {
  color: whitesmoke;
  font-size: 35px;
  padding-left: 30px;
}
#about-title h1 {
  font-weight: 400;
}

/* ------APPROACH----------- */

#approach {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: rgb(19, 19, 19);
}
#approach-main-box {
  position: absolute;
  display: flex;
  margin-top: 35vh;
  padding: 20px;
  align-items: center;
}

#approach-content {
  color: whitesmoke;
  margin-left: 150px;
  margin-right: 50px;
}
#approach-content h2 {
  font-weight: 400;
}
#approach-content p {
  text-align: justify;
  padding-right: 50px;
}

#approach-testimonial {
  font-size: 40px;
  font-weight: 400;
  color: whitesmoke;
  width: 90%;
  margin-right: 150px;
  padding-left: 50px;
}
#approach-testimonial p {
  padding-right: 50px;
  margin: 0 auto;
}

/* --------CAROUSEL, its in othe css file------ */

/* ---------FORM-CONTACTS------------ */

#contact {
  width: 100%;
  position: relative;
  background-color: rgb(19, 19, 19);
  height: 100vh;
}
#contact-main-box {
  position: absolute;
  margin-top: 20vh;
  display: flex;
}

#contact-box {
  margin: 10px auto;
  padding: 20px 50px;
  width: 50%;
}

#contact-box h1 {
  font-size: 75px;
  color: whitesmoke;
  font-weight: 400;
  padding-left: 150px;
  padding-top: 20px;
}

#contact-form {
  display: inline;
  margin: 10px auto;
  padding: 20px 150px 20px 100px;
  width: 50%;
}

#contact-form input {
  width: 90%;
  margin: 10px 0;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(245, 245, 245, 0.79);
  color: rgba(245, 245, 245, 0.9);
  -webkit-appearance: none;
  transition: 0.3s;
}

#contact-form input:focus {
  border: none;
  border-bottom: 1px solid rgba(255, 0, 0, 0.8);
  padding: 10px 0;
  outline: none;
}

#contact-form textarea {
  width: 90%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(245, 245, 245, 0.79);
  color: rgba(245, 245, 245, 0.9);
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  transition: 0.3s;
}

#contact-form textarea:focus {
  border: none;
  border-bottom: 1px solid rgba(255, 0, 0, 0.8);
  outline: none;
}

#contact-form button {
  background: red;
  color: whitesmoke;
  border: none;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px 10px;
  transition: 0.3s;
  cursor: pointer;
  width: 25%;
}

#contact-form button:hover {
  background: whitesmoke;
  color: red;
}

/* ------FOOTER------------------------- */
#footer {
  width: 100%;
  position: relative;
  background-color: rgb(19, 19, 19);
  color: rgba(245, 245, 245, 0.4);
  height: 12vh;
}
#footer-main-box {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  border-top: 1px dotted rgba(245, 245, 245, 0.3);
}

#footer-year {
  background-color: transparent;
  padding: 10px 20px;
}
#footer-back-link {
  color: rgb(245, 245, 245, 0.4);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s;
}
#footer-back-link:hover {
  color: red;
}

#footer-back-top i,
#footer-back-top p {
  margin: 0 3px;
  font-size: 15px;
}

#footer-allRights {
  background-color: transparent;
  padding: 10px 20px;
}

/* ---------------MEDIA QUERIE LARGE SIZE----------------- */

@media only screen and (min-width: 1400px) {
  body {
    width: 100%;
  }
}
